ENV{ID_BUS}=="usb", ENV{ID_INPUT_KEYBOARD}=="1", ACTION=="add", RUN+="/sbin/insmod keyboard_alarm"
ENV{ID_BUS}=="usb", ENV{ID_INPUT_KEYBOARD}=="1", ACTION=="remove", RUN+="/sbin/rmmod keyboard_alarm"
